.tabel-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 20px 0;
}

.tabel-content{
    overflow-y: scroll;
    /* max-height: 80%; */
    height: 300px;
    position: relative;
}

/* .tabel {
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    white-space: nowrap;
    width: 72%;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 30px;
}

.tabel thead {
    background-color: #ccc;
  color: #222;
  position: sticky;
  top: 0;
  z-index: 1;
}

th{
    position: sticky;
    top: 0px;
}

.tabel th,
.tabel td {
    padding: 0.8rem;
    border: 1px solid black;
}

.tabel td {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.tabel tbody tr:hover {
    background-color: #eee;
}

.expand {
    width: 10%;
} */

.tabel {
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    white-space: nowrap;
    width: 72%;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 30px;
  }
  
  .tabel thead {
    background-color: #ccc;
    color: #222;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .tabel th,
  .tabel td {
    padding: 0.8rem;
    border: 1px solid black;
    box-sizing: border-box; /* Include padding and border in element width */
  }
  
  .tabel td {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  
  .tabel tbody tr:hover {
    background-color: #eee;
  }
  
  .tabel th {
    position: sticky;
    top: 0;
    background-color: #ccc;
    z-index: 1; /* Ensure the header cells are above the table body cells */
  }
  
  .tabel th::before {
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    background-color: #ccc;
    z-index: -1; /* Place the before pseudo-element behind the table header cells */
  }
  
  .expand {
    width: 10%;
  }
  

.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
}

.label-draft {
    background-color: #777;
}

.label-live {
    background-color: #42a942;
}

.label-error {
    background-color: #d9534f;
}


.aksi {
    justify-content: space-around;
}

.aksi svg {
    cursor: pointer;
}

.delete-button {
    color: #e10d05;
}


.table-image {
  width: 50px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}













