.warung-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: default;
}

.content-warung {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content-warung h2 {
  padding: 20px;
  font-size: 3.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.warung-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.warung-card {
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 250px;
  max-height: 200px; 
  box-shadow: 1px 2px 2px 2px #d9d9d9;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.warung-card:hover {
  transform: scale(1.05);
}

.warung-image-container {
  width: 100%;
  height: 62%;
  overflow: hidden;
  border-radius: 5px;
}

.warung-image {
  width: 100%;
  object-fit: cover;
}

.warung-details {
  width: 100%;
  padding-top: 10px;
  margin-left: 5px;
}

.warung-details h3 {
  margin-top: 14px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.warung-details p {
  font-size: 1em;
  color: black;
}

.warung-details h4 {
  margin-left: auto;
  margin-top: -30px;
}

@media only screen and (max-width: 768px) {
  .warung-card {
    width: 100%;
    height: auto; 
    max-width: 200px; 
  }
}

