.pesanan1-kontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.pesan1-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
  }

.pesan1-card {
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin: 10px;
    cursor: pointer;
    align-items: center;
    width: 180px;
    height: 130px;
    box-shadow: 1px 2px 2px 2px #bbbbbb;
    flex-basis: calc(25% - 20px);
    flex-shrink: 0;
    max-width: calc(50% - 20px);
}

.konten-pesanan1{
    margin-top: 20px;
}

.konten-pesanan1.h2{
    margin-left: 10px;
}